---
import Layout from "../layouts/Layout.astro";
import Header from "@components/Header";
import Hero from "@components/Hero";
import Conversions from "@components/Conversions";
import Footer from "@components/Footer";
---

<Layout
  title="Sistemas numéricos | @armandodev"
  description="Conversores de sistemas numéricos binarios, octales, decimales y hexadecimales"
>
  <Header />
  <main>
    <Hero />
    <Conversions />
  </main>
  <Footer />
</Layout>
