---
import "@fontsource-variable/onest";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es-MX">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="google-site-verification"
      content="glmGWJrIEpohKqgRc8hg1vV4V3MCnsUYGIMQUI5V31Y"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  html {
    @apply bg-gray-100 dark:bg-gray-800  text-blue-600 dark:text-blue-400;
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
</style>
